body {
  background-color: #605a56;
}

.header {
  font-family: 'Reenie Beanie', cursive;
  color: #4e9525;
  background-color: #605a56;
  text-align: center;
  font-size: 3.5em;
}

.heading {
  margin: 0px;
}

.login {
  display: flex;
  margin-top: 5em;
}

.loginNecessities {
  width: 55%;
  text-align: -webkit-center;
}

.login-section {
  font-size: 3em;
  font-family: 'Reenie Beanie', cursive;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.login-image {
  width: 40%;
  margin-left: 2em;
  background-image: url('./images/chart.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.login-input1 {
margin-bottom: 2em;
}

.login-btn {
  margin-top: 2rem;
  width: 3em;
  font-family: 'Reenie Beanie', cursive;
  font-size: 3em;
  background-color: #C4C4C4;
}

input {
  font-size: x-large;
}

label {
  margin-right: 2.5em;
}

.mainDashboard {
  display: grid;
}

[className^=stat] {
  background-color: #c4c4c4;
}
