body {
  background-color: #605a56;
}

.header {
  font-family: 'Reenie Beanie', cursive;
  color: #4e9525;
  background-color: #605a56;
  text-align: center;
  font-size: 3.5em;
}

.heading {
  margin: 0px;
}
